.referrals-count{
    margin-left: auto;
}

.referal-placed{
    font-size: 15px;
}

.dashboard-eye{
    background: #43D79E;
    /* padding: 10px; */
    width: 30px;
    height: 30px;
}

.dashboard-img{
    background: linear-gradient(to top, #35c0e4 0%, #43d79e 100%);
}

.chng-pointer:hover{
    cursor: pointer;
}

.add-refer-btn{
    margin-left: auto;
    background-color: #2A99B6;
}

.add-refer-btn:hover{
    background-color: #1484a0;
}

tr{
    height: 7vh;
    text-align: center;
    font-size: 16px;
}

.spinner{
    font-size: 200px;
}

.loading-icon{
    margin: 17% 45%;
    /* font-size: 20px; */
}

td{
    width: 11%;
}