.login-body {
    display: flex;
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
    margin: -2.6% 0 -2.6% -3.3% ;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }

.login-left{
    flex: 1;
    background: linear-gradient(to bottom, #35BCDFCC, #4AD9A2); /* Gradient */
    display: flex;
    /* width: ; */
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0;
    margin: 0;
}
.login-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f8f8;
    padding: 0;
    margin: 0;
  }
  .login-form {
    margin: 10% 0 0 2%;
  }

  .login-form .heading{
    font-family: Roboto;
    font-size: 40px;
    font-weight: 600;
    line-height: 46.88px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }